@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
));

html {
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($theme);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #FAFAFA;
}
